.page {
  min-height: 100vh;
  background-image: url("../../assets/Buy-Energy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 60px;
}
.logo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 16px;
  margin-bottom: 48px;
}

.logoName {
  color: #000;
  font-family: var(--font-heading);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background: #ffffff;
  border-radius: 20px;
  /* padding: 36px 32px; */
  width: 100%;
  max-width: 758px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
}

.title {
  color: #000;
  font-family: var(--font-heading);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 32px;
  margin-left: 37px;
}
