.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
  gap: 24px;
  position: absolute;
  top: 0px;
  right: 64px;
}
.searchBox {
  display: flex;
  align-items: center;
  width: 244px;
  height: 40px;
  gap: 8px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 1px solid var(--Teal-green-200, #9ff9ee);
  width: 220px;
}
.searchBox input {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-body);
  color: #6b6d6d;
  background: transparent;
  width: 100%;
}

.searchBox input::placeholder {
  color: #6b6d6d;
}

.addBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-body);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.15s;
}

.addBtn:hover {
  background: rgba(9, 144, 126, 0.87);
}

/* two-column layout */
.topGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .topGrid {
    grid-template-columns: 1fr;
  }
}

.balanceCard {
  display: flex;
  width: 530px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 8px; */
  border-radius: 16px;
  background: #007365;
  box-shadow: 0 4px 4px 8px #137b6f;
  color: #fff;
}

.balanceLabel {
  font-family: var(--font-heading);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.42px;
}

.balanceValue {
  font-family: var(--font-heading);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 78.4px;
  margin-bottom: 24px;
}

.balanceValue span {
  font-size: 56px;
  font-weight: 700;
}

.statsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 457px;
  height: 143px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0.3px 0.5px 1px 0.5px #1cb8a5;
  border-radius: 20px;
  padding: 16px 24px;
  margin-bottom: 12px;
}

.statLabel {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.24px;
}

.statValue {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}

/* Action buttons */
.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.btnAmber {
  display: flex;
  height: 52px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 16px;
  line-height: normal;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
  flex-shrink: 0;
}

.btnAmber:hover {
  background: rgba(245, 159, 11, 0.664);
}

.btnOutline {
  display: flex;
  flex-shrink: 0;
  height: 52px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 900;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
}

.btnOutline:hover {
  background: rgba(255, 255, 255, 0.1);
}
