.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.balanceCard {
  display: flex;
  width: 1068px;
  height: 263px;
  padding: 32px 32px 32px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #007365;
  margin-top: 40px;
  margin-right: 76px;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.balanceLabel {
  color: #ffffff;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.42px;
}

.balanceValue {
  color: #fff;
  font-family: "DM Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 78.4px */
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.btnAmber {
  display: flex;
  height: 52px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 16px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
}

.btnAmber:hover {
  background: rgba(245, 159, 11, 0.664);
}

.btnOutline {
  display: flex;
  height: 52px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
}

.btnOutline:hover {
  background: rgba(255, 255, 255, 0.1);
}

.suggestion {
  display: flex;
  flex-direction: column;
  width: 612px;
  height: 79px;
  padding: 16px 53px 16px 24px;
  align-items: flex-start;
  border-radius: 16px;
  border: 0.5px solid var(--Teal-green-200, #9ff9ee);
  background: var(--Teal-green-50, #f5fefd);
}
.suggestionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feb {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
}
.suggestionText {
  color: #09907f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quickPurchase {
  width: 1042px;
  height: 291px;
  background: #fff;
}
.sectionTitle {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 32px;
  margin-left: 32px;
}
.presets {
  width: 757px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin: 21px 142px 40px;
}
.preset {
  display: flex;
  width: 199px;
  height: 83px;
  padding: 0 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Teal-green-100, #cffcf6);
  background: var(--Blue-50, #f5f9ff);
}
.presetkWh {
  color: var(--primary-color);
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 600;
}
.presetPrice {
  color: #62738e;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 700;
}
.customBtn {
  display: flex;
  width: 918px;
  height: 56px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  margin: 40px 62px;
  color: var(--primary-color);
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
}
.presetSelected {
  border-color: #1a7a5e;
  background: #e8f5f1;
}
