.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.filters {
  display: flex;
  width: 408px;
  height: 59px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  margin-top: 17px;
  background: #ffffff;
}
.filterBtn {
  display: flex;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #a29b97;
  color: #a29b97;
  font-family: var(--font-heading);
  font-size: 16px;
  font-weight: 500;
  background: transparent;
}
.filterBtn:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.filterActive {
  border-radius: 8px;
  border: 1px solid var(--primary-color, #09907f);
  color: var(--primary-color);
}
